@import 'vars';

.about-me {
  display: flex;
  flex-direction: column;
  gap: var(--sections-gap);
  padding: 48px;
  padding-top: 0 !important;

  @media (max-width: $breakpoint) {
    padding: 24px;
  }
}

.who-i-am {
  display: flex;
  justify-content: center;
  text-align: start;
  gap: 32px;

  .home-profile-photo {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    img {
      $img-size: 400px;
      height: $img-size;
      width: $img-size;
      object-fit: contain;

      @media (min-width: $breakpoint) {
        border-radius: 50%;
        border: 2px solid $primary;
      }
    }

    @media (max-width: $breakpoint) {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);

      img {
        display: none;
      }
    }
  }

  @media (max-width: $breakpoint) {
    gap: 16px;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 0;

    @media (max-width: $breakpoint) {
      padding: 0;
      gap: 24px;
    }

    img {
      max-width: 500px;
      height: auto;
    }

    p {
      align-content: center;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 400px;

      strong {
        color: $primary;
      }
    }
  }
}

.skills {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (max-width: $breakpoint) {
    gap: 16px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: space-between;

    .skills-card {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--section-internal-gap);

      p {
        height: fit-content;
        text-align: center;
      }

      .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        gap: 16px;
        padding: 24px;

        .lucide {
          padding: 0;
          color: $primary;
        }
      }
    }

    .hard-skills,
    .soft-skills {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: var(--section-internal-gap);
    }
  }
}

.interests {
  display: flex;
  gap: 32px;
  flex-direction: column;
  text-align: center;

  .cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.card {
  display: flex;
  align-items: center;
  max-width: 296px;
  border: transparent;
  text-align: center;
  padding: 24px;
  gap: 16px;
  color: var($text-dark)
  

  &-title {
    margin: 0;
  }

  .lucide {
    padding: 0;
    color: $accent;
  }
}
