@import 'vars';

.cv {
  display: flex;
  flex-direction: column;
  gap: var(--sections-gap);
}

.cv-container {
  h3 {
    color: $primary;
  }

  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0 64px;

  @media (max-width: $breakpoint) {
    padding: 0 24px;
    gap: 24px;
  }

  .left-cv {
    display: flex;
    flex-direction: column;
    border: $secondary solid 2px;
    padding: 24px;
    border-radius: 10px;
    gap: 24px;
    max-width: 600px;
    text-align: left;

    .cv-name-role {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    h2 {
      font-weight: 400;
    }

    li {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .cv-profile {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .cv-skills {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .lucide:hover {
        color: var(--bs-body-color);
      }
    }

    .cv-languages {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .cv-languages-list {
        display: flex;
        gap: 24px;

        .cv-languages-language {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        .cv-languages-progress-bars {
          display: flex;
          flex-direction: column;
          gap: 24px;
          width: 100%;
          justify-content: center;

          .progress {
            height: 10px;
            background-color: $secondary;

            .progress-bar {
              background-color: $primary;
            }
          }
        }
      }
    }
  }

  .right-cv {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: left;
    

    .cv-work-experiences {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .cv-internships {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .cv-work-related-learning-program {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    .cv-education {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .cv-education-path {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    i {
      font-size: 14px;
    }
  }
}

