@import 'vars';

.portfolio {
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: var(--sections-gap);
  max-width: 100svw;
  padding: 48px;
  padding-top: 0 !important;

  @media (max-width: $breakpoint) {
    padding: 24px;
  }

  nav {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 8px;

    .nav {
      flex-wrap: nowrap;
      gap: 24px;

      .nav-link {
        font-weight: 500;
        color: var(--bs-body-color);
        white-space: nowrap;
        padding: 4px 0;

        &.active {
          color: $primary;
          border-bottom: 2px solid $primary;
        }
      }
    }
  }
}

.logo {
  width: 200px;
  height: auto;
}

.logo-s2iu {
  background: $bg-dark;
  border: none;
  padding: 16px;
  max-width: 270px;
  border-radius: 5px;
}

.projects {
  align-items: center;
  gap: 48px;
  display: flex;
  flex-direction: column;
  text-align: left;

  @media (max-width: $breakpoint) {
    gap: 24px;
  }

  .project {
    max-width: 1030px;
    padding: 0;
    display: flex;
    flex-direction: column;

    

    .project-content {
      display: flex;
      flex-direction: column;
      gap: var(--section-internal-gap);

      .project-description {
        display: flex;
        flex-direction: column;
        p {
          margin-top: 1rem;
        }
      }

      .cover-container {
        position: relative;
        max-width: 500px;
        height: fit-content;

        @media (max-width: $breakpoint) {
          order: -1;
        }

        .cover {
          border: solid 2px $secondary;
          border-radius: 10px;
          height: auto;
          max-width: 100%;
        }

        .cover-overlay {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color 0.2s;
          border-radius: 10px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          .btn {
            opacity: 0;
            transition: opacity 0.2s;
          }

          &:hover {
            background-color: rgba(black, 0.5);

            .btn {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
