@import 'vars';
@import 'home';
@import 'menu';
@import 'about-me';
@import 'contact-me';
@import 'portfolio';
@import 'cv';

body {
  --bs-body-bg: #{$bg-dark};
  --bs-body-color: #{$text-dark};
  --sections-gap: 24px;
  --section-internal-gap: 16px;

  @media (min-width: $breakpoint) {
    --sections-gap: 48px;
    --section-internal-gap: 24px;
  }

  .logo-black {
    display: none;
  }

  &.light {
    --bs-body-bg: #{$bg-light};
    --bs-body-color: #{$text-light};

    .logo-white {
      display: none;
    }

    .logo-black {
      display: unset;
    }
  }

  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400;

  display: flex;
  flex-direction: column;
  padding-top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  background-color: var(--bs-body-bg);
  z-index: 2;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 64px;
  padding-right: 64px;

  @media (max-width: $breakpoint) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

main {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: var(--sections-gap);
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: $breakpoint) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

footer {
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
  small {
    color: $secondary;
  }
  @media (max-width: $breakpoint) {
    padding-bottom: 48px;
    padding-top: 48px;
  }
}

.logo-white,
.logo-black {
  height: 36px;
  width: 36px;
}

.btn {
  border-radius: 20px;
  padding: 8px 24px;
  font-family: 'Poppins';
  font-size: 16px;
  border: solid 2px $primary;

  &-primary {
    background-color: $primary;
    color: $text-dark;

    --bs-btn-hover-bg: #{$primary-hover};
    --bs-btn-hover-border-color: #{$primary-hover};
    --bs-btn-active-bg: #{$primary};
    --bs-btn-active-border-color: #{$primary-hover};
  }

  &-outline-primary {
    background-color: transparent;
    color: $primary;

    --bs-btn-hover-bg: #{transparent};
    --bs-btn-hover-color: #{$primary-hover};
    --bs-btn-hover-border-color: #{$primary-hover};
    --bs-btn-active-bg: #{transparent};
    --bs-btn-active-color: #{$primary};
    --bs-btn-active-border-color: #{$primary-hover};
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 700;
  font-family: 'DM Sans';
  margin-bottom: 0;
}

h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 32px;
}
h3,
.h3 {
  font-size: 24px;
  font-weight: 400;
}
h4,
.h4 {
  font-size: 20px;
  font-weight: 400;
}

a {
  color: var(--bs-body-color);
  text-decoration: none;
}

p {
  margin: 0;
}

.lucide {
  stroke-width: 1;
  width: 48px;
  height: 48px;
  color: var(--bs-body-color);
  padding: 8px;
  &:hover {
    color: $accent;
  }
}

.sun-btn,
.moon-btn {
  cursor: pointer;
}
